:root{
    --primary-color:rgba(0, 0, 0, 0.644);
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    margin: 0;
    background-image: url(back.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.nav-back{
    position: absolute;
    height: 3.6rem;
    width: 100%;
    background-color: rgb(67, 74, 84);
    border-bottom: 3px solid white;
    border: none;
    z-index: 50;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    position: fixed;
    height: 3.6rem;
    width: 100%;
    background-color:  rgba(0, 0, 0, 0.372);
    color: white;
    z-index: 100;
}
.nav-container{
    display: flex;
    flex-direction: row;
    margin-right: 3rem;
}
.nav-container a{
    text-decoration: none;
    color: white;
}
.nav-conatiner a:visited{
    color:white;
}
.nav-part{
    position: relative;
    margin-left: 3rem;
    font-size: 1.1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor:pointer;
}
.nav-part::after{
    content: "";
    width: 100%;
    position: absolute;
    height: 2px;
    left: 0;
    bottom: -0.4rem;
    background-color: rgb(255, 210, 128);
    transition: transform 0.2s;
    transition-timing-function: ease;
    transform: scaleX(0);
    transform-origin: right;
}
.nav-part:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}
.nav-part a:hover{
    color:orange;
    transition: color 0.1s;
}
.logo{
    display: flex;
    flex-direction: row;
    margin-right: auto;
    color: orange;
    font-size: 1.5rem;
    font-family:'Courier New', Courier, monospace;
    cursor:pointer;
    text-decoration: none;
}
.logo-img{
    width: 5rem;
    height: 4rem;
    filter: invert(0);
    transition: filter 0.3s linear;
}
.logo-img:hover{
    filter: invert(70%);
}
.main_box{
    display: grid;
    border: none;
    grid-template-rows: repeat(4, 100vh) 30vh;
    gap: 2px;
}
.box{
    overflow: hidden;
}
.box1{
    display: grid;
    grid-template-columns: 58% 40%;
    gap: 2%;
}
.box_part1{
    background-color:var(--primary-color);
    display: flex;
    align-items:end;
    justify-content: center;
    height: 100%;
}
.box_part1 img{
    margin-bottom: 0;
    filter: grayscale(50%);
}
.pfp{
    background-color: rgba(0, 0, 0, 0.098);
    overflow: hidden;
}
.box_part2{
    background-color: var(--primary-color);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 100%;
}
.content{
    background-color: rgba(0, 0, 0, 0.443);
    backdrop-filter: blur(3px);
    height: 40vh;
    width: 100%;
    margin-top: 13rem;
    color: rgb(201, 201, 215);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.my-name{
    font-size: 2.7rem;
    font-weight: bold;
}
.content-first{
    font-size: 2rem;
    margin-left: 1rem;
}
.content-second{
    font-size: 1rem;
    margin-left: 1rem;
    color: yellow;
}
.no-break{
    white-space: nowrap;
}
.box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 2 /span 2;
    background-color: var(--primary-color);
}
.box2{
    display: grid;
    grid-template-columns: repeat(3, 25vw);
    grid-template-rows: repeat(4, 40vh);
    row-gap: 2rem;
}
.v1{
    position: absolute;
    left: 49%;
    border: 1rem solid rgba(245, 245, 245, 0.5);
    height: 170vh;
}
.about{
    position: relative;
    background-color: rgba(245, 245, 245, 0.655);
    backdrop-filter: blur(10px);
    border-radius: 2rem;
    overflow: hidden;
}
.about1{
    grid-column: 1/ span 2;
}
.about2{
    grid-area: 2/2/2/4;
}
.about3{
    grid-area: 3/1/3/3;
}
.about4{
    grid-area: 4/2/4/4;
}
.circle{
    margin: 1rem;
    width: 6rem;
    height: 6rem;
    background-color: rgba(255, 248, 248, 0);
    border-radius: 50%;
    box-sizing: border-box;
    border: 1rem solid rgba(255, 255, 255, 0.276);
}
.note{
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
    color: black;
    top: 25%;
    left: 5rem;
    text
}
.box3{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.skill-title{
    position: absolute;
    top: 0.5rem;
    font-size: 2rem;
    font-weight: bold;
    font-family: monospace;
    display: block;
}
.skill-list{
    background-color: rgba(0, 0, 0, 0.7);
    height: 60%;
    width: 15rem;
    margin: 1.5rem;
    margin-top: 5rem;
    color: gold;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 1rem;
    box-shadow: 15px 15px 15px 1px black;
    transition: box-shadow 0.3s ease-in-out;
    border: none;
    border-radius: 20px;
}
.skill-list:hover{
    box-shadow: 5px 5px 5px 1px black;
    color: yellow;
    backdrop-filter: blur(5px);
}
.box4{
    padding-top: 1rem;
    padding-left: 10rem;
    line-height: 5vh;
    background-color: rgb(114, 112, 123);
    color: gold;
    z-index: 10;
}
 @media screen and (max-width: 1000px){
    .box3{
        flex-wrap:wrap;
        height: 50vh;
        overflow: visible;
        

    }
    .content{
        margin-top: 8rem;
        height: 60vh;
    }
}
